<div id="customStyles" class="popup">
<p>
  <h3>Available Styles</h3>
  <div id="availableStyles">
  <p>
    <input type=checkbox id="whatever">
    <label for="whatever">Whatever</label>
    -- <span class="editStyle">Edit</span>
    -- <span class="deleteStyle">Delete</span>
  </p>
  </div>
  <h3 data-l10n-id="ep_custom_styles.createNewStyle"></h3>
  <label for="options-custom-style-name" data-l10n-id="ep_custom_styles.styleName">Style Name</label>
  <input type="text" id="options-custom-style-name">
  <p><label for="options-custom-style-css">CSS</label></p>
  <textarea rows=4 id="options-custom-style-css" style="width:100%;font-family:monospace" placeholder=".test{color:orange}"></textarea>
  <p><label for="options-custom-style-lint">Lint Output</label></p>
  <div id="options-custom-style-lint"></div>
  <p>
  <button id="options-custom-style-save" data-l10n-id="ep_custom_styles.save">Save</button>
  <button id="options-custom-style-cancel" data-l10n-id="ep_custom_styles.cancel">Cancel</button>
  <p id="options-custom-style-status"></p>
  </p>
</p>
</div>

