<p>
  <p>Create new Style:</p>
  <label for="options-custom-style-name" data-l10n-id="ep_custom_styles.menuLabel">Style Name</label>
  <input type="text" id="options-custom-style-name">
  <p><label for="options-custom-style-css" data-l10n-id="ep_custom_styles.menuLabel">CSS</label></p>
  <textarea rows=4 id="options-custom-style-css" style="width:100%;font-family:monospace"></textarea>
  <p>
  <button id="options-custom-style-save">Save</button>
  </p>
<!--
  <input type="checkbox" id="options-emailNotifications"></input>
  <label for="options-emailNotifications" data-l10n-id="ep_custom_styles.menuLabel"></label>
  <div class="ep_email_settings">
    <form id='ep_email_form_mysettings'>
      <input name='ep_email' class='ep_email_input' placeholder='your@email.com' type=email>
      <br />
      <label data-l10n-id="ep_custom_styles.formOptionsTitle"></label>
      <br />
      <input name='ep_email_onStart' type="checkbox" class="ep_email_checkbox"></input>
      <label for="ep_email_onStart" data-l10n-id="ep_custom_styles.formOptionOnStart"></label>
      <br />
      <input name='ep_email_onEnd' type="checkbox" class="ep_email_checkbox"></input>
      <label for="ep_email_onEnd" data-l10n-id="ep_custom_styles.formOptionOnEnd"></label>
      <input name='ep_email_option' type=hidden >
      <br />
      <button name='ep_email_subscribe' type=button class="ep_email_buttons" data-l10n-id="ep_custom_styles.formBtnSubscr"></button>
      <button name='ep_email_unsubscribe'type=button class="ep_email_buttons" data-l10n-id="ep_custom_styles.formBtnUnsubscr"></button>
    </form>
  </div>
-->
</p>
