<li class="separator acl-write"></li>
<li id="custom_styles" class="acl-write">
  <a class="ep_custom_styles" title="Custom Styling">
    <span class="buttonicon"></span>
  </a>
</li>

<style>
  .ep_custom_styles{
    font-family:font-awesome;
  }

  .ep_custom_styles > .buttonicon {
    top:2px!important;
  }

  .ep_custom_styles > .buttonicon:before{
    content:"\e830";
  }
</style>
